<div class="p-4">
    <div class="container">
        <h1>Hi {{users.firstName}}!</h1>
    </div>
    <div>
        <h1>Your Adverts</h1>
    </div>
    <a routerLink="/add" class="btn btn-sm btn-success mb-2">Add Advert</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 15%">Heading</th>
                <th style="width: 15%">Province</th>
                <th style="width: 15%">City</th>
                <th style="width: 20%">Details</th>
                <th style="width: 15%">Price</th>
                <th style="width: 5%">State</th>
                <th style="width: 15%"></th>
            </tr>
        </thead>
        <tbody *ngFor="let advert of adverts">
            <tr >
                <td>{{advert.advertHead}}</td>
                <td>{{advert.provinceId}}</td>
                <td>{{advert.cityId}}</td>
                <td>{{advert.advertDetails}}</td>
                <td>{{advert.price}}</td>
                <td>{{advert.advertState}}</td>
                <td style="white-space: nowrap">
                    <style>
                        .dropdown-content {
                                      display: none;
                                      width: 100%;
                                      overflow: auto;
                                      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                      
                                   }
                                   .dropdown:hover .dropdown-content {
                                       display: block;
                                      
                                   }
                                   .dropdown-content a {
                                       display: block;
                                       color: #000000;
                                       padding: 5px;
                                       text-decoration: none;
                                       
                                   }
                                   .dropdown-content a:hover {
                                        color: #FFFFFF;
                                        background-color: rgb(181, 230, 29);
                                      
}
                    </style>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary mr-1">Action...</button>
                        <div class="dropdown-content">
                        <a routerLink="/edit/{{advert.id}}">Edit</a>
                        <a *ngIf="advert.advertState === 'Live'" (click) ="hideAdvertStatus(advert)">Hide Advert</a>
                        <a *ngIf="advert.advertState === 'Hidden'" (click) ="showAdvertStatus(advert)">Show Advert</a>
                        <a (click) ="deleteAdvert(advert)">Delete Advert</a>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>   
    </table>
    <div class="white-space">
        <br>
        <br>
    </div>