<div class="Logo">
    <img src="assets\WHLogo.jpg"  width="400" height="100">
</div>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="home">Home</a>
        <a class="nav-item nav-link" routerLink="homes-for-sale">Homes for Sale</a>
        <a class="nav-item nav-link">Sell a House</a>
        <a class="nav-item nav-link" *ngIf = "!user" routerLink="/account/login" >Login</a>
        <a class="nav-item nav-link" *ngIf = "!user" routerLink="/account/register">Register</a>
        <a class="nav-item nav-link" *ngIf="isUser||isAdmin" (click)="logout()">Logout</a>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">MyAdverts</a>
        <a class="nav-item nav-link">My Profile</a>
        <a class="nav-item nav-link">Buy a House</a>
        <a class="nav-item nav-link">Sell a House</a>
        <a class="nav-item nav-link" routerLink="/manage-my-account">Manage my Account</a>
        <a class="nav-item nav-link" routerLink="/my-seller-profile">My Seller Profile</a>
        <a class="nav-item nav-link">Favourite Houses</a>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isAdmin">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">User Management</a>
        <a class="nav-item nav-link">Advert Management</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p> 
        WelcomeHome! @ 2021. All Rights Reserved.
    </p>
   
</div>