<div class="p-4">
    <div class="container">
<h1>Manage My Account</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div class="invalid">
                <p><small>Min 1, Max 100 characters</small></p>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div class="invalid">
                <p><small>Min 3, Max 100 characters</small></p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="username">Username (e-mail)</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div class="invalid">
                <p><small>Min 6, Max 100 characters. Must contain @.</small></p>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Password (Leave blank to keep the same password)
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div class="invalid">
                <p><small>Please enter password for new password.</small></p>
            </div>
        </div>
    </div>
        <div class="form-row">
         <div class="form-group col">
            <label for="password">
                New Password
            </label>
            <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <div class="invalid">
                <p><small>Min 8, Max 100 characters.</small></p>
            </div>   
        </div>
        <div class="form-group col">
            <label for="confirmNewPassword">
                Confirm New Password
            </label>
            <input type="password" formControlName="ConfirmNewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }" />
            <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmNewPassword.errors.mustMatch">
                    Passwords do not match. 
                </div>
            </div>     
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>

</form>
</div>
</div>