<div class="p-4">
    <div class="container">
        <span class="search-wrapper">
        <div class="search">
            <app-search></app-search>
        </div>
    </span>
    <div>
        <h1>Homes For Sale</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 15%">Heading</th>
                <th style="width: 15%">Location</th>     
                <th style="width: 15%">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let advert of adverts">
            <tr >
                <td><a class='link' routerLink="/advert-details/{{advert.id}}" >
                    {{advert.advertHead}}
                  </a></td>
                <td>{{advert.city.name}}, {{advert.province.name}}</td>
                <td>{{advert.price | currency:'ZAR' : 'symbol-narrow':'4.2-2'}}</td>
            </tr>
        </tbody>   
    </table>
    <div class="white-space">
        <br>
        <br>
    </div>
</div>
</div>
